* {
	font-family: sans-serif;
	color: #080357;
}
/*Header Decorations STOP TOUCHING IT ITS FINE*/
.topBar {
	margin: 5px;
	padding: 10px 15px;
	background-color: #FF9F1C;
	color: #080357;
	border: 2px solid #080357;
	border-radius: 10px;
}
.header {
	font-size: 3em;
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;


}
.navBar ul {
	margin: 0 0 0 65%;
	padding: 0;
	text-align: right;

}
.navBar li {
	text-align: right;
	list-style-type: none;
	margin: 10px;
	padding: 3px 10px;
	display: inline;
	border: 2px solid #080357;;
	border-radius: 10px;

}
a:link {
	text-decoration: none;
	color: #8CD867;
}
a:visited {
	color: #080357;
}



/*Side Bar */

.sideBar {
	float: left;
	border: 2px solid #080357;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	background-color: #8CD867;
	height: 420px;
	width:25%;
}

.label {
	display: block;
	margin: 15px;

}


/*.genre div {
	padding-left: 10px;
	padding-top:5px;
}*/



.label input {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 3px;
}

.button {
		background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonHold {
	text-align: center;
	clear: both;
}

.secLeft {
	float: left;
}

.secRight {
	float: right;
}

.secRight,
.secLeft {
	margin: 20px;
}

/*Song List*/

.songList {
	float: right;
	border: 2px solid #080357;
	border-radius: 10px;
	width:70%;
	padding: 5px;
	margin: 5px;
	background-color: #75B09C;
	height: 420px;

}

.songList section {
	margin: 15px;
	margin-bottom:30px;
}

.info {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

.info:not(:last-child) {
	border-right: 1px solid #080357;

}

































































