body {
	font-family: sans-serif;
	color: #080357;
	margin: 0 3em;
}

/*Header*/
.topBar {
	margin-bottom: 1em;
	padding: 1em;
	background-color: #FFB4B0;
	border: 2px solid #080357;
}

.navBar ul {
	margin: 0;
	padding: 0;
}

.link {
	padding: .5em 1em;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 1em;
	margin: 10px 10px 0;
}

.link:nth-child(2) {
	border-left: 2px solid #080357;
}

.selected {
	color: blue;
}

/*Side Bar */

.sideSection {
	border: 2px solid #080357;
	background-color:  #4DD7FA;
	color: black;
}

.labels {
	display: block;
	margin: 1em 0;
	padding-left: 0;
}

.buttonDiv {
	text-align: center;
	margin: 2em;
}

.button {
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1em;
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
}

.col-md-1 {
	width: 1em;
}

/*Song List*/
.songList {
	border: 2px solid #080357;
	background-color: #FEFAC0;
	float: right;
	width: 73%;
}

.songList,
.sideSection {
	height: 500px;
}

/*Add Music*/
.addMusic {
	margin: 5em 40%;
}

































































