body {
	font-family: sans-serif;
	color: #080357;
	margin: 0 3em;
}

/*Header*/
.topBar {
	margin: 5px;
	padding: 10px 15px;
	background-color: #FFB4B0;
	color: #080357;
	border: 2px solid #080357;
	border-radius: 10px;
}
.header {
	font-size: 3em;
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;


}
.navBar ul {
	margin: 0;
	padding: 0;
	text-align: left;

}
.link {
	padding: 10px 15px;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 1em;
	margin: 10px 10px 0;
}

.link:nth-child(2) {
	border-left: 2px solid #080357;
}

.selected {
	text-decoration: none;
	color: blue;
}




/*Side Bar */

.sideSection {

	border: 2px solid #080357;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	background-color:  #4DD7FA;
	height: 420px;
	width: 25%;
	color:black !important;
}

.labels {
	display: block;
	margin: 20px 15px;

}
/*To get the artist menu bar in line with the album menu bar*/
.aN {

	margin-left: 9px;
}

.label input {
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 3px;
}

.button {
		background-color: rgba(255, 255, 255, 0.5);
		border: none;
		border-radius: 10px;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		box-shadow: inset 0 0 1em #080357;
}

.buttonHold {
	text-align: center;
	clear: both;
	padding-top: 50px;

}

.secLeft {
	float: left;
}

.secRight {
	float: right;
}

.secRight,
.secLeft {
	margin: 20px;
}

/*Song List*/

.songList {
	border: 2px solid #080357;
	border-radius: 10px;
	width:70%;
	padding: 5px;
	margin: 5px;
	background-color: #FEFAC0;
	height: 420px;

}

.songList section {
	margin: 15px;
	margin-bottom:30px;
}

.info {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
}

.info:not(:last-child) {
	border-right: 1px solid #080357;

}

.addMusic {
	margin: 5em 40%;
}

































































